body {
    font-family: 'Concert One', cursive;
    color: rgb(41, 8, 8);
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 5px;
}

.nav-bar {
    background-color: #2592db;
    padding: 10px;
}

nav {
    float: right;
}

.home-hero-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.home-text-container {
    margin-left: 25px;
}

.hello-text {
    font-size: 80px;
    color: #2592db;
    margin-bottom: 0
}

.welcome-text {
    font-family: 'Concert One', cursive;
    color: #2592db;
    font-size: 40px;
    margin: auto;
}

.chef-image {
    width: 20%;
    height: 20%;
}

.home-search-btn {
    font-family: 'Concert One', cursive;
    background-color: #e95687;
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    width: 50%;
    height: 10%;
    margin-top: 40px;
    cursor: pointer;
}

.home-search-btn:hover {
    opacity: .7;
}

.home-content-container {
    margin: auto;
    width: 70%;
}

.home-features {
    float: left;
}

.home-videos {
    float: right;
}

.features-title,
.video-title {
    font-size: 25px;
    background-color: #2592db;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

/* Filter Search Critera */

.search-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;

}

/* .chicken-img {
    width: 10%;
    height: 10%;
} */

.search-input-container {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.search-input {
    width: 30%;
    padding: 10px;
    font-size: 20px;
    opacity: .7;
    font-family: 'Concert One', cursive;
}

.searchcritera-btn {
    background-color: #e95687;
    color: white;
    font-family: 'Concert One', cursive;
    font-size: 20px;
    margin-left: 10px;
    width: 15%;
    border-radius: 5px;
    border: none;
}

.searchcritera-btn:hover {
    opacity: .7;
}

.radio-container {
    font-size: 20px;
}

.number-input-container {
    font-size: 20px;
}

.favorite-title {
    text-align: center;
    font-size: 50px;
    color: #2592db;
    margin: 20px 0;
}

/* recipe card */
.recipe-card {
    margin: 20px 5px;
    position: relative;
    width: 300px;
    height: 395px;
    box-shadow: 0 3px 10px rgb(41, 8, 8);
}

.recipe-fav-icon {
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 100%;
    padding: 5px;
    border: 5px solid white;
    cursor: pointer;
}

.recipe-fav-icon:hover {
    opacity: .7;
}

.recipe-info {
    width: 300px;
    height: 80px;
    border-bottom: 15px solid rgb(37, 146, 219);
}

.recipe-label {
    width: 260px;
    margin-top: 0px;
    font-size: 1.3em;
    margin-left: 10px;
    color: rgb(41, 8, 8);
}

.recipe-more-info {
    color: #e95687;
    position: absolute;
    bottom: 30px;
    right: 0px;
    cursor: pointer;
}

.recipe-more-info:hover {
    opacity: .7;
}

.recipes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 175px;
}

.material-icons {
    color: #e95687;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
}

.material-icons:hover {
    opacity: .7;
}

.details-container {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    z-index: 999999999;
    height: 100%;
    width: 100%;
    background-color: rgba(37, 146, 219, 0.5);
}

.recipe-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 50%;
    padding: 10px;
    box-shadow: 0 3px 10px rgb(41, 8, 8);
}

.ingredients {
    margin: 0px;
}

.details-title {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.recipe-link {
    color: #2592db;
    
}

.delete-icon {
    width: 20%;
    height: 20%;
    color: #e95687;
}

.details-sub {
    font-size: 1.1em;
    text-decoration: underline;
    margin-bottom: 0px;
    margin-top: 20px;
}

pre {
    margin: 0px;
    font-family: 'Concert One'
}

.nutrition {
    margin: 0px;
}