body {
    font-family: 'Concert One', cursive;
    color: rgb(41, 8, 8);
}

a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 5px;
}

.nav-bar {
    background-color: #2592db;
    padding: 10px;
}

nav {
    float: right;
}

.home-hero-container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-top: 30px;
}

.home-text-container {
    margin-left: 25px;
}

.hello-text {
    font-size: 80px;
    color: #2592db;
    margin-bottom: 0
}

.welcome-text {
    font-family: 'Montserrat', sans-serif;
    color: #2592db;
    font-size: 40px;
    margin: auto;
}

.chef-image {
    width: 20%;
    height: 20%;
}

.home-search-btn {
    font-family: 'Concert One', cursive;
    background-color: #e95687;
    color: white;
    font-size: 30px;
    border: none;
    border-radius: 5px;
    width: 50%;
    height: 10%;
    margin-top: 40px;
    cursor: pointer;
}

.home-search-btn:hover {
    opacity: .7;
}

.home-content-container {
    margin: auto;
    width: 70%;
}

.home-features {
    float: left;
}

.home-videos {
    float: right;
}

.features-title,
.video-title {
    font-size: 25px;
    background-color: #2592db;
    color: white;
    padding: 5px;
    border-radius: 5px;
}

/* Filter Search Critera */

.search-container {
    display: flex;
    position: relative;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.6);
    width: 66%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    margin-top: 20px;
    padding-bottom: 10px;
    box-shadow: 0 3px 10px rgba(41, 8, 8, 0.5);

}

.search-container input {
    border: 1px solid black;
    margin: 2px;
    border-radius: 5px; 
}
.chicken-img {
    justify-self: flex-end;
    align-self: flex-end;
    width: 20%;
}

.search-input-container {
    width: 70%;
    display: flex;
    justify-content: center;
    margin: 50px 0;
}

.search-input {
    width: 30%;
    padding: 10px;
    font-size: 20px;
    opacity: .7;
    font-family: 'Concert One', cursive;
}

.searchcritera-btn {
    background-color: #e95687;
    color: white;
    font-family: 'Concert One', cursive;
    font-size: 20px;
    margin-left: 10px;
    width: 15%;
    border-radius: 5px;
    border: none;
}

.searchcritera-btn:hover {
    opacity: .7;
    cursor: pointer;
}

.radio-container {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.number-input {
    padding: 3px;
    margin: 0 5px;
}

.number-cal-container {
    font-size: 20px;
}

.number-time-container {
    font-size: 20px;
}

.number-input-text {
    font-family: 'Montserrat', sans-serif;
}

.favorite-title {
    text-align: center;
    font-size: 50px;
    color: #2592db;
    margin: 20px 0;
}

/* recipe card */
.recipe-card {
    margin: 20px 5px;
    position: relative;
    width: 300px;
    height: 395px;
    box-shadow: 0 3px 10px rgb(41, 8, 8);
    border-radius: 10px;
}

.recipe-img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.recipe-fav-icon {
    position: absolute;
    left: 10px;
    top: 10px;
    border-radius: 100%;
    padding: 5px;
    border: 5px solid white;
    cursor: pointer;
}

.recipe-fav-icon:hover {
    opacity: .7;
}

.recipe-info {
    width: 300px;
    height: 80px;
    border-bottom: 15px solid rgb(37, 146, 219);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background: white;
}

.recipe-label {
    width: 260px;
    margin-top: 0px;
    font-size: 1.3em;
    margin-left: 10px;
    color: rgb(41, 8, 8);
}

.recipe-more-info {
    color: #e95687;
    position: absolute;
    bottom: 30px;
    right: 0px;
    cursor: pointer;
}

.recipe-more-info:hover {
    opacity: .7;
}

.recipes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px 175px;
}

.material-icons {
    color: #e95687;
    font-size: 24px;
    cursor: pointer;
    position: absolute;
    bottom: 15px;
}

.material-icons:hover {
    opacity: .7;
}

.details-container {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    top: 0px;
    left: 0px;
    z-index: 999999999;
    height: 100%;
    width: 100%;
    background-color: rgba(37, 146, 219, 0.5);
}

.recipe-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
    width: 50%;
    box-shadow: 0 3px 10px rgb(41, 8, 8);
    border-radius: 10px;
    padding-top: 10px;
}

.recipe-details img {
    border-bottom-right-radius: 10px;
}

.recipe-details p {
    margin: 0px 10px;
}

.ingredients {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.details-title {
    font-size: 1.5em;
    margin-bottom: 5px;
}

.recipe-link {
    color: #2592db;
    font-family: 'Montserrat', sans-serif;
}

.delete-icon {
    width: 20%;
    height: 20%;
    color: #e95687;
}

.recipe-details .details-sub {
    font-size: 1.3em;
    text-decoration: underline;
    margin-bottom: 0px;
    margin-top: 20px;
}

pre {
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}

.nutrition {
    margin: 0px;
}

.yum-img {
    position: fixed;
    opacity: .3;
    height: 100%;
    /* width: 50%; */
    top: 0px;
    z-index: -99999;   
}