<section class="search-container">
    <section class="search-input-container">
        <input type="text" class="search-input" ng-model="$ctrl.searchTerms">
        <button type="button" class="searchcritera-btn"ng-click="$ctrl.search($ctrl.searchTerms)">Seerch</button>
    </section>
    <section class="radio-container">
        <input ng-model="$ctrl.peanut" type="radio" value="&health=peanut-free"><span>Peuonuot-Free</span>
        <input ng-model="$ctrl.vegan" type="radio" value="&health=vegan"><span>Feguon</span>
        <input ng-model="$ctrl.vegetarian" type="radio" value="&health=vegetarian"><span>Fegeteriuon</span>
        <input ng-model="$ctrl.lowCarb" type="radio" value="&diet=low-carb"><span>Luo-Cerb</span>
        <input ng-model="$ctrl.lowFat" type="radio" value="&diet=low-fat"><span>Luo-Fet</span>
    </section>
    <section class="number-cal-container">
        <span>Shuo me-a meels less thuon</span><input class="number-input" ng-model="$ctrl.calories" type="number"><span>celuries</span>
    </section>
    <section class="number-time-container">
        <span>Shuo me-a meels zeet vill teke-a less thuon</span><input class="number-input" ng-model="$ctrl.cookTime" type="number"><span>meenuotes tu cuok. Bork Bork Bork!</span>
    </section>
</section>
