<input type="text" ng-model="$ctrl.searchTerms">
<button type="button" ng-click="$ctrl.search($ctrl.searchTerms)">Seerch</button>
<section>
    <input type="radio"><span>Dairy Free</span>
    <input type="radio"><span>Peanut-Free</span>
    <input type="radio"><span>Shellfish-Free</span>
    <input type="radio"><span>Vegan</span>
    <input type="radio"><span>Vegetarian</span>
</section>
<section>
    <span>Show me meals less than</span><input type="number"><span>Calories</span>
</section>
<section>
    <span>Show me meals that will take less than</span><input type="number"><span>minutes to cook.</span>
</section>