<section class=recipes-container>
    <section class="recipe-card" ng-repeat="recipe in $ctrl.recipes">
        <img class="recipe-fav-icon" src="images/chef-hat-pink.png" ng-click="$ctrl.favRecipe(recipe)">
        <img src="images/chevron-right.png" alt="" class="recipe-more-info">
        <img class="recipe-img" src={{recipe.recipe.image}}>
        <section class="recipe-info">
            <p class="recipe-label">{{recipe.recipe.label}}</p>
        </section>
    </section>
</section class=recipes-container>