<section class="home-hero-container">
    <img class="chef-image" src="images/Swedish_Chef.jpg">
    <section class="home-text-container">
        <p class="hello-text">Hellu!</p>
        <p class="welcome-text">Let's feend a receepe-a.</p>
        <p class="welcome-text">Bork Bork Bork!</p>
        <button class="home-search-btn" ng-click="$ctrl.search($ctrl.searchTerms)">SEERCH</button>
    </section>
</section>

<!-- <section class="home-features">
    <section ng-repeat="recipe in $ctrl.recipes">
        <img src={{recipe.recipe.image}}>
        <p>{{recipe.recipe.label}}</p>
        <p>Add to Favorites</p>
    </section>
</section> -->

<section class="home-content-container">
    <section class="home-features">
        <p class="features-title">Feetuored Receepes</p>
        <p>receepe-a gues here!</p>
        <p>receepe-a gues here!</p>
        <p>receepe-a gues here!</p>
    </section>
    <section class="home-videos">
        <p class="video-title">Fideu Tuoturiels </p>
        <section>
            <iframe width="392" height="221" src="https://www.youtube.com/embed/B7UmUX68KtE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </section>
        <section>
            <iframe width="392" height="221" src="https://www.youtube.com/embed/2Qj8PhxSnhg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </section>
        <section>
            <iframe width="392" height="221" src="https://www.youtube.com/embed/sY_Yf4zz-yo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
        </section>
    </section>
</section>